body {
  background: #111625;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 4% auto 0 auto;
  width: 680px;
}

#footer {
  color: #293559;
  text-align: center;
}

#footer a {
  color: #495f9f;
  text-decoration: none;
}

#footer a:hover { text-decoration: underline; }
